/* line 6, /Users/ctreat200/projects/ctreatma.github.io/source/stylesheets/_common.scss */
body, .pure-g [class*="pure-u"] {
  font-family: "Open Sans", sans-serif; }
  /* line 9, /Users/ctreat200/projects/ctreatma.github.io/source/stylesheets/_common.scss */
  body h1, body h2, body h3, body h4, body h5, body h6, .pure-g [class*="pure-u"] h1, .pure-g [class*="pure-u"] h2, .pure-g [class*="pure-u"] h3, .pure-g [class*="pure-u"] h4, .pure-g [class*="pure-u"] h5, .pure-g [class*="pure-u"] h6 {
    font-family: "Montserrat", serif; }

/* line 14, /Users/ctreat200/projects/ctreatma.github.io/source/stylesheets/_common.scss */
code {
  font-family: monospace; }

/* line 18, /Users/ctreat200/projects/ctreatma.github.io/source/stylesheets/_common.scss */
a {
  color: #421C52; }
  /* line 21, /Users/ctreat200/projects/ctreatma.github.io/source/stylesheets/_common.scss */
  a:visited {
    color: #BDAEC6; }
  /* line 25, /Users/ctreat200/projects/ctreatma.github.io/source/stylesheets/_common.scss */
  a:hover {
    color: #9C8AA5; }
  /* line 29, /Users/ctreat200/projects/ctreatma.github.io/source/stylesheets/_common.scss */
  a:active {
    color: #BDAEC6; }

/* line 34, /Users/ctreat200/projects/ctreatma.github.io/source/stylesheets/_common.scss */
.accessibly-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

/* line 43, /Users/ctreat200/projects/ctreatma.github.io/source/stylesheets/_common.scss */
.content-main {
  margin: 10px auto 0; }

/* line 2, /Users/ctreat200/projects/ctreatma.github.io/source/stylesheets/_header.scss */
.menubar .pure-menu-open {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0), white); }
  /* line 5, /Users/ctreat200/projects/ctreatma.github.io/source/stylesheets/_header.scss */
  .menubar .pure-menu-open.pure-menu-fixed {
    border: none; }
/* line 10, /Users/ctreat200/projects/ctreatma.github.io/source/stylesheets/_header.scss */
.menubar .pure-menu-heading {
  color: #421C52;
  font-size: 110%; }
/* line 15, /Users/ctreat200/projects/ctreatma.github.io/source/stylesheets/_header.scss */
.menubar .social-links {
  float: right; }
  /* line 18, /Users/ctreat200/projects/ctreatma.github.io/source/stylesheets/_header.scss */
  .menubar .social-links a:hover {
    background: none; }

/* line 1, /Users/ctreat200/projects/ctreatma.github.io/source/stylesheets/_posts.scss */
.post {
  padding: 20px; }
  /* line 4, /Users/ctreat200/projects/ctreatma.github.io/source/stylesheets/_posts.scss */
  .post h2 {
    margin: .75em 0 .25em 0; }
  /* line 8, /Users/ctreat200/projects/ctreatma.github.io/source/stylesheets/_posts.scss */
  .post pre, .post code {
    background-color: #eee;
    border: 1px solid #bbb;
    padding: 5px; }
  /* line 14, /Users/ctreat200/projects/ctreatma.github.io/source/stylesheets/_posts.scss */
  .post pre code {
    background-color: none;
    border: none;
    padding: 0; }
  /* line 20, /Users/ctreat200/projects/ctreatma.github.io/source/stylesheets/_posts.scss */
  .post time {
    font-family: monospace;
    font-size: 85%;
    font-style: italic;
    color: #999; }
